%h1= @article.title

%p= @article.content
= link_to articles_path do
  Back to articles

%table
  %thead
    %tr
      %th
      %th Comments
      %th Actions
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.id
        %td= comment.content
        %td
          = link_to edit_article_comment_path(@article.id, comment.id) do
            Edit |
          = link_to article_comment_path(@article.id, comment.id), method: :delete, data: {confirm: 'Delete comment?'} do
            Delete
    
= render 'comments/form'